<ol class="alphabet">
    @foreach (var letter in Enumerable.Range('A', 'Z' - 'A' + 1).Select(i => (char)i))
    {
        <li>
            <button @onclick="@(() => SelectLetter(letter))">
                @letter
            </button>
        </li>
    }
</ol>

@code {

    [Parameter]
    public EventCallback<char> LetterSelected { get; set; }

    void SelectLetter(char letter)
    {
        LetterSelected.InvokeAsync(letter);
    }

}