<div class="flower">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
         viewBox="0 0 368.596 515.89" width="250">
        <defs>
            <clipPath id="_clipPath_tusbXCrwUXg60OQw9bEAs5WxTGxwloQS">
                <rect width="368.596" height="515.89"/>
            </clipPath>
        </defs>
        <g clip-path="url(#_clipPath_tusbXCrwUXg60OQw9bEAs5WxTGxwloQS)">
            <path d=" M 205.436 212.339 C 204.764 212.407 204.061 212.646 203.326 213.058 C 198.521 215.753 202.47 293.526 182.538 363.777 C 175.651 344.746 149.553 319.509 113.653 299.399 C 65.128 272.217 17.125 264.689 6.5 282.591 C -4.126 300.493 26.621 337.075 75.146 364.256 C 116.041 387.164 156.485 396.053 174.578 387.586 C 169.373 401.137 163.182 414.088 155.468 425.59 C 104.955 500.909 22.538 481.74 20.31 485.964 C -3.166 530.473 117.351 517.357 167.864 442.038 C 179.924 424.056 189.57 400.845 196.972 376.125 C 197.152 376.44 197.248 376.807 197.452 377.108 C 209.112 394.354 255.319 382.142 300.601 349.846 C 345.883 317.55 373.162 277.346 361.502 260.101 C 349.843 242.855 303.635 255.066 258.353 287.362 C 235.665 303.544 217.485 321.707 206.467 337.978 C 219.624 273.362 218.539 210.999 205.436 212.339 Z "
                  fill="rgb(53,226,62)" vector-effect="non-scaling-stroke" stroke-width="8.8" stroke="rgb(18,137,45)"
                  stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"/>
            @if (GuessesLeft >= 6)
            {
                <path d=" M 227.083 164.593 L 227.054 164.722 L 209.645 146.856 C 217.767 147.44 235.309 138.404 289.247 90.134 C 357.102 29.409 370.563 193.608 281.618 174.102 C 258.123 168.95 240.435 166.165 227.193 164.737 L 227.193 164.737 C 227.146 164.732 227.099 164.727 227.054 164.722 L 227.083 164.593 Z "
                      fill="rgb(250,152,6)" vector-effect="non-scaling-stroke" stroke-width="10" stroke="rgb(245,128,6)"
                      stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4"/>
            }
            @if (GuessesLeft >= 5)
            {
                <path d=" M 184.172 146.167 L 184.298 146.126 L 177.996 170.261 C 174.299 163.005 157.499 152.655 88.303 131.414 C 1.253 104.692 134.882 8.33 164.137 94.562 C 171.865 117.34 178.619 133.923 184.239 145.998 L 184.239 145.998 C 184.259 146.041 184.278 146.084 184.298 146.126 L 184.172 146.167 Z "
                      fill="rgb(250,152,6)" vector-effect="non-scaling-stroke" stroke-width="10" stroke="rgb(245,128,6)"
                      stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4"/>
            }
            @if (GuessesLeft >= 4)
            {
                <path d=" M 211.721 140.097 L 211.817 140.188 L 187.599 146.167 C 192.211 139.456 193.291 119.753 178.939 48.807 C 160.883 -40.444 309.332 31.008 247.511 97.866 C 231.181 115.526 219.831 129.375 211.901 140.075 L 211.901 140.075 C 211.872 140.113 211.844 140.151 211.817 140.188 L 211.721 140.097 Z "
                      fill="rgb(250,152,6)" vector-effect="non-scaling-stroke" stroke-width="10" stroke="rgb(245,128,6)"
                      stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4"/>
            }
            @if (GuessesLeft >= 3)
            {
                <path d=" M 216.424 194.062 L 216.3 194.11 L 221.389 169.689 C 225.444 176.751 242.739 186.249 312.91 204.007 C 401.187 226.346 272.539 329.264 239.012 244.601 C 230.156 222.238 222.581 206.013 216.366 194.234 L 216.366 194.234 C 216.344 194.192 216.322 194.15 216.3 194.11 L 216.424 194.062 Z "
                      fill="rgb(250,152,6)" vector-effect="non-scaling-stroke" stroke-width="10" stroke="rgb(245,128,6)"
                      stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4"/>
            }
            @if (GuessesLeft >= 2)
            {
                <path d=" M 187.323 197.296 L 187.215 197.22 L 210.348 187.887 C 206.728 195.182 208.436 214.84 232.643 283.055 C 263.097 368.871 106.06 319.053 157.841 244.15 C 171.519 224.364 180.804 209.054 187.148 197.343 L 187.148 197.343 C 187.17 197.301 187.193 197.26 187.215 197.22 L 187.323 197.296 Z "
                      fill="rgb(250,152,6)" vector-effect="non-scaling-stroke" stroke-width="10" stroke="rgb(245,128,6)"
                      stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4"/>
            }
            @if (GuessesLeft >= 1)
            {
                <path d=" M 173.405 173.974 L 173.427 173.843 L 191.938 190.563 C 183.795 190.498 166.865 200.634 116.113 252.243 C 52.267 317.169 28.367 154.163 118.376 167.959 C 142.151 171.604 159.98 173.256 173.286 173.837 L 173.286 173.837 C 173.334 173.839 173.381 173.841 173.427 173.843 L 173.405 173.974 Z "
                      fill="rgb(250,152,6)" vector-effect="non-scaling-stroke" stroke-width="10" stroke="rgb(245,128,6)"
                      stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4"/>
            }

            <path d=" M 231.517 163.119 C 231.524 173.335 226.077 182.778 217.231 187.887 C 208.384 192.997 197.483 192.997 188.637 187.887 C 179.791 182.778 174.344 173.335 174.351 163.119 C 174.344 152.903 179.791 143.46 188.637 138.35 C 197.483 133.24 208.384 133.24 217.231 138.35 C 226.077 143.46 231.524 152.903 231.517 163.119 L 231.517 163.119 Z "
                  fill="rgb(250,220,6)" vector-effect="non-scaling-stroke" stroke-width="10" stroke="rgb(245,128,6)"
                  stroke-linejoin="round" stroke-linecap="butt" stroke-miterlimit="4"/>
        </g>
    </svg>
</div>

@code {

    [Parameter]
    public int GuessesLeft { get; set; }
    
}