<div class="targetSentence">

    @foreach (var word in Target.Split(" "))
    {
        <span class="word">
            @foreach (var letter in Letters(word))
            {
                <span>@letter</span>
            }
        </span>
    }

</div>

@code {

    [Parameter]
    public string Target { get; set; }

    [Parameter]
    public HashSet<char> FoundLetters { get; set; }
    
    List<char> Letters(string word)
    {
        return word
            .Select(character => FoundLetters.Contains(character) ? character : ' ')
            .ToList();
    }

}

